* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  height: 100svh;
}

.container {
  position: relative;
  width: 96%;
  max-width: 1320px;
  margin: auto;
  height: 100%;
}

.title {
  padding: 1rem 0;
  text-align: center;
}

.carousel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 50%;
}

.single_movie:not(.active) {
  display: none;
}

/* Using max-width and max-height in order to make the image adapt to various screen resolutions */
.carousel img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

.fa-chevron-left,
.fa-chevron-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: #cccccccc;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
  cursor: pointer;
}

.fa-chevron-left {
  right: unset;
  left: 20px;
}

.fa-play,
.fa-stop,
.fa-arrow-rotate-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: #cccccccc;
  position: absolute;
  top: 5px;
  transform: translate(-50%, 0);
  z-index: 1;
  cursor: pointer;
}

.fa-play {
  left: 50%;
}

.fa-stop {
  left: calc(50% + 50px);
}

.fa-arrow-rotate-left {
  left: calc(50% - 50px);
}

.movie_title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
}

.movie_description {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  color: whitesmoke;
  background-color: #000000aa;
  transition: opacity 0.6s;
}

.carousel:hover .movie_description {
  opacity: 100%;
}

.thumbnails {
  display: flex;
  align-items: center;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 120px;
  background-color: black;
}

.single_thumbnail {
  position: relative;
  width: 20%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

.single_thumbnail:not(.active)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000aa;
}

.thumbnails > div > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}